* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    /* background: url("https://cdn.hipwallpaper.com/m/5/9/fiTYsW.jpg"); */
  }
  #header{
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 450px;
    font-size: 50px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .container{
    width: 100%;
    height: 100vh;

    background-color: silver;
    margin: auto;
    padding-bottom: 20px;
    padding-top: 20px;
    /* border-radius: 15px ; */
}

.input{
    display: block;
    font-size: 20px;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* margin-top: 200px; */
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
  html {
    height: -webkit-fill-available;
  }
  
  main {
    /* display: flex; */
    /* height: 100vh; */
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: visible;
    overflow-y: visible;
  }

  
  .dropdown-toggle { outline: 0; }
  
  .btn-toggle {
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
  }
  .btn-toggle:hover,
  .btn-toggle:focus {
    color: rgba(0, 0, 0, .85);
    background-color: #d2f4ea;
  }
  
  .btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
  }
  
  .btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);
  }
  .btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
  }
  
  .btn-toggle-nav a {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
  }
  .btn-toggle-nav a:hover,
  .btn-toggle-nav a:focus {
    background-color: #d2f4ea;
  }
  
  .scrollarea {
    overflow-y: auto;
  }

  .submit-btn{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    margin-left: 55px;
    color: white;
    background-color: hsl(0, 100%, 42%);
    text-align: center;
    cursor: pointer;
    width: 75px;
    font-size: 18px;
    
}
.button{
    text-align: center;
}     
      
.submit-btn:hover{
    background-color: orange;
}
#h1{
    border: 1px solid black;
    border-radius: 7px;
    box-shadow: 5px 5px #888888;
    text-align: center;
}
td{
    padding: 10px;
    margin-top: 10px;
}
.form{
    
    border: 2px solid black;
    border-radius: 50px;
    /* padding-left: 50px; */
    width: fit-content;
    margin: auto;
    /* margin-left: 50px;*/
    margin-top: 150px;
    padding: 30px;

    background-color: aqua;
    
}

.reset{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: green;
    text-align: center;
    cursor: pointer;
    margin-left: 12px;
    font-size: 18px;
    
}
.reset:hover{
    background-color: yellowgreen;
}



